<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhx47.qxx.mapper.UserMapper">
    <select id="loadUserByPhone" resultType="top.zhx47.qxx.datasource.entity.User" parameterType="java.lang.String">
        SELECT *
        FROM `user`
        WHERE phone = #{phone}
    </select>
    <select id="countFriend" resultType="java.lang.Long" parameterType="java.lang.Integer">
        select count(*) from user where parend_id = #{parentId};
    </select>

    <select id="getFriendListByPage" resultType="top.zhx47.qxx.datasource.entity.User">
        select * from user where parend_id = #{parentId} limit #{pageIndex}, #{pageNum}
    </select>

    <select id="getAddress" resultType="top.zhx47.qxx.api.datasource.dto.ReceiveInfoDTO">
        select name, cell, address from user where id = #{id}
    </select>

    <update id="addAddress">
        update user set name = #{receiveInfo.name}, cell = #{receiveInfo.cell}, address = #{receiveInfo.address} where id = #{id}
    </update>
</mapper>