<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhx47.admin.mapper.SysNoticeMapper">
    <select id="getSysNotice" resultType="top.zhx47.admin.datasource.entity.SysNotice">
        SELECT *
        FROM `sys_notice`
        WHERE id = 1
    </select>
</mapper>
